@model IEnumerable<WalletTransactions>
<table class="table">
    <thead>
        <tr>
            <th>MemebrId / Member Name</th>
            <th>Amount</th>
            <th>Balance</th>
            <th>Factor</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model?.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MemberId (@item.MemberName)</td>
                    <td>@item.Amount</td>
                    <td>@item.Balance</td>
                    <td>@item.Factor</td>
                    <td>@item.Description </td>
                    <td>
                        <a class="btn btn-success btn-sm btn-icon-text mr-3" asp-controller="Admin" asp-action="#">Edit</a>
                    </td>
                </tr>

            }
        }
    </tbody>
</table>